/* Created by: MariaG
* Created on: April 25, 2022
* This CSS file defines the style for index.html
* ICS2O-Unit3-04-HTML-FahrenheitCelsius
*/

body {
  width: 80%;
  margin: 5% 10%;
  font-family: Helvetica, Arial, sans-serif;
}
